{% extends 'home.html' %}

{% block heading %}
User Detail
{% endblock %}

{% block content %}
<div class="card" style="width: 18rem;">
    <img src="{{ user.image_url }}" class="card-img-top" alt="{{ user.first_name }} {{ user.last_name }}">
    <div class="card-body">
        <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
        <a href="{{ url_for('update_user', user_id=user.id) }}" class="btn btn-primary">Edit</a>
        <a href="{{ url_for('delete_user', user_id=user.id) }}" class="btn btn-danger">Delete</a>
    </div>
</div>

<h2>Posts</h2>
<ul>
    {% for post in user.posts %}
    <li>
        <a href="{{ url_for('post_detail', post_id=post.id) }}">
            {{ post.title }}
        </a>
    </li>
    {% endfor %}
</ul>

<a href="{{ url_for('new_post', user_id=user.id) }}">Create Post</a>

{% endblock %}
