{% extends "base.html" %}
{% block title %}Add Feedback{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="add-head">
        <h1>Add New Feedback</h1>
    </div>
    <div class="add-form">
        <form action="/users/{{ user.username }}/feedback/add" method="post">
            {{ form.csrf_token }}
            {{ form.title.label }} {{ form.title }}
            {{ form.content.label }} {{ form.content }}
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
